[Desktop Entry]
Exec=krdc rdp://PLACEHOLDER_RDP_ENDPOINT
Icon=krdc
Name[fr_BE]=KRDC
Name=KRDC
StartupWMClass=krdc
Terminal=false
Type=Application
X-DocPath=krdc/index.html
