[Desktop Entry]
Exec=/usr/local/bin/xfreerdp.sh
Icon=krdc
Name[fr_BE]=KRDC
Name=KRDC
StartupWMClass=xfreerdp
Terminal=false
Type=Application
X-DocPath=krdc/index.html
